language: node_js
node_js:
  - stable
branches:
  only:
    - main
install:
  - npm ci
script:
  - npm run build
deploy:
  - provider: pages
    skip_cleanup: true
    keep_history: true
    local_dir: public
    github_token: $GITHUB_TOKEN
